<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Upload Image - Tree Counting Using Satellite Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Image Analytics for Forest Land Diversion Tree Enumeration</h1>
    </header>
    <nav>
        <ul class="navbar-nav">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('upload') }}">Predict Here</a></li>
        </ul>
    </nav>
    <main1>
        <h2>Upload Your Image</h2>
        <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <div>
                <label for="file">Choose Image:</label>
                <input type="file" name="file" id="file" required>
            </div>
            <div>
                <button type="submit" class="btn">Upload and Analyze</button>
            </div>
        </form>
    </main1>
    <footer>
        <p>&copy; 2024 Tree Enumeration</p>
    </footer>
</body>
</html>
